#
# SSD1306 Configuration
#
CONFIG_GPIO_RANGE_MAX=33
CONFIG_I2C_INTERFACE=y
# CONFIG_SPI_INTERFACE is not set
# CONFIG_SSD1306_128x32 is not set
CONFIG_SSD1306_128x64=y
CONFIG_OFFSETX=0
# CONFIG_FLIP is not set
CONFIG_SCL_GPIO=17
CONFIG_SDA_GPIO=16
CONFIG_RESET_GPIO=-1
# end of SSD1306 Configuration